<html>
    <head>
        <title>Travel Freak's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Travel Freak's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Visiting the volcanic island of Nisyros, a lesser known gem in Greece</a></h2>
            <p>The volcanic island of Nisyros in Greece turned out to be one of my most unexpected discoveries of 2018. I didn’t know I was going to Greece until I got invited there, on a second date, after meeting someone at Edinburgh Festivals two weeks before. A little tipsy, and always keen to explore somewhere new, I dutifully booked a flight to Kos island and headed off on a Greek escapade. Sadly, the romance never blossomed, but I did replace it with a new lover: Nisyros Island.

Nisyros Island might be one of the best off the beaten path gems in Europe; while Santorini, another volcanic Island nearby is overrun with tourists to the point I don’t think I’ll ever be able to visit. By comparison, Nisyros is nearly deserted</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Kumbh Mela 2019</a></h2>
            <p>I’ve just returned from what is estimated to have been the largest human gathering on earth, The Kumbh Mela in Prayagraj. I mean, how insane is that! Estimates put the number around the 45-million people mark for the days I attended, and my mind is blown. We walked about 20-kilometres around the festival and only saw a slight slither of it.

Before setting off to such a mammoth event I had some reservations, and one of them was about my camera equipment. I usually shoot with a Canon EOS 5D which is not only expensive, but also very bulky and with that many people around, and with such a personal, focused event, I was worried a large DSLR wouldn’t always be ideal. However, Canon UK reached out and gifted me their new travel-focused camera, the Canon PowerShot SX740 HS.</p>
        </div>
    </body>
</html>